@media (max-width: 768px) {

  #navbar {
    flex-wrap: wrap;
  }

  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    width: 100%;
    flex-direction: column;
    background: #C8A2C8;
    padding: 10px 0;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links li {
    text-align: center;
    padding: 10px 0;
  }

  .dropdown-menu {
    position: static;
  }
}
